
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100vw;*/
    height: 100vh;
    background-image: url("/photos/back1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-color: rgb(224, 173, 43); 
    justify-content: space-between;
}
.menu a:hover {
    color: rgb(224, 173, 43);
  }
.menu{
    list-style: none;
    height: inherit;
    /*width: 70vw;*/
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-left: 1px solid transparent;
    border-color: rgb(224, 173, 43);
}
.menu li{
    display: inline-block;
    text-decoration: none;
    margin-right: 0.2em;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    padding: 2em;
    font-weight: bold;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.menu li a::before{
    content:"·";
    padding-right: 5px;
    color: rgb(224, 173, 43);
    font-weight: 900;
    font-size: 1em;
}
.navbar{
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 2em;
    padding-right: 3em;
    width:4vw;
}
.logo img{
    width: 120%;
}
.iconsnav{
    display: flex;
    
}
.iconsnav a{
    display:inline block;
    align-items: center;
    padding: 1em;
    height: 100%;
    border-left: 1px solid transparent;
    border-color: rgb(224, 173, 43);
    color: rgb(224, 173, 43);
}
.iconsnav a i{
    font-size: 1em;
}
.iconsnav a:hover{
    color:rgb(224, 150, 43);
}


