.about{
    text-align: center;
    h2{
        font-weight: 500;
        font-size: 2.5rem;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top:8rem;
        margin-bottom: 3rem;
        color: #402c11;
    }
     b{
        color: #cfb72f;
        font-size: 1.5rem;
    }
     p{
        padding-left: 15rem;
        padding-right: 15rem;
        margin-top:3rem;
        color:gray;
        margin-bottom: 5rem;
    }
     a{
        color: black;
        background-color:transparent;
        border: 2px solid black;
        font-size:1em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        text-decoration: none;
    }
     a:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
}
