body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d8f6d7;
}
header{
    position:static;
    background-color: white;
    font-size:0.8rem;
}
nav{
    display: flex; 
    justify-content:space-evenly;
    align-items: center;
}
.menu{
    li{
        display: inline-block;
        text-decoration: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }   
    a{
        display: inline-block;
        text-decoration: none;
        color: rgb(88, 88, 88);
        padding: 1.5rem;
    }
    :hover{
        color:#000000;
    }
}
.navbar{
    display: flex;
    align-items: center;
}

.iconsnav{
    display: flex;
    
    a{
        display:inline block;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        color: #3a4f39;
        i{
            font-size: 1rem;
        }
    }
    :hover{
        color:#000000;
    }
}
.call {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    background-color: #3a4f39;
    align-items: center;
    border-radius: 0.2rem;
    text-align: center;
}
.call:hover{
    background-color: #000000;
}
.logo{
    padding-right:1.8rem;
    padding-left:1.8rem;
    height: 3%;
    width: 3%;
    img{
        width: 150%;
        height: 150%;
    }
}
.hamburger {
    display:none;
}

@media (max-width: 768px) {
    .navbar{
        display: flex;
    }
    .menu{
        display: block;
        background: rgb(245, 246, 246);
        box-shadow: #ccc;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        transition: all 0.4s ease;
        menu-open{
            right:0;
        }
    }
    .iconsnav{
        display:none;
    }
    .hamburger {
        padding: 1rem;
        display:block;
    }

    .call{
        display:none;
    }
    .logo{
        padding-right:0.8rem;
        padding-left:0.8rem;
        height: 10%;
        width: 10%;
    }
}