@media (max-width: 1376px){
    body{
        font-size: 0.8rem;
    }
    .menu{
        li{
            padding-left:1rem;
            padding-right:1rem;
    }
        a{
            padding:0.5rem;
        }
}
.iconsnav{
    a{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        i{
            font-size: 0.8rem;
        }
    }
}
.call {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.6rem;
}
.logo{
    width: 3rem;
}
}

@media (max-width: 786px) {
    main{
        margin-top:5rem;
    }
    nav{
        display: flex;
        z-index: 20;
    }
    header{
        position: fixed;
        z-index: 20;
        top:0;
    }
    .menu{
        display: none;
        bottom:0;
        width:100vw;
        position:fixed;
        align-items: center;
        top:0;
        right:-100vw;
        height:inherit;
        z-index: 5;
        background: white;
        box-shadow: #ccc;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        a{
            margin-top:2rem;
        }
    }
    .menu.open{
        display: flex;
        flex-direction: column;
        right:0;
        z-index: 3;
    }
    .iconsnav{
        display:none;
    }
    .hamburger {
        padding: 1rem;
        display:block;
        z-index:50;
    }

    .call{
        display:none;
    }
    .logo{
        padding-right:0.8rem;
        padding-left:0.8rem;
        height: 10%;
        width: 10%;
        z-index: 20;
    }
    .owl-carousel{
        .slide1{
        height: 85vh;
        }
        .slide2{
            height:85vh;
        }
    }
}